<!DOCTYPE html>
<html lang="en" ng-app="emailApp">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/Styles.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="javascript/app.js"></script>
  <title>Assignment 1_Mini-Password Manager</title>
</head>

<body ng-controller="EmailController">
  <div class="box" id="myBox" style="
        background-color: rgba(255, 255, 255, 0.524);
        font-family: 'Times New Roman', Times, serif;
        border: 2px solid #f5f1f1;
        border-radius: 10px;
        padding: 20px;
        max-width: 600px;
        width: 100%;
        height: 400px;
        box-shadow: 0 4px 8px rgba(242, 239, 239, 0.1);
        position: fixed;
        position: absolute;
        margin-top: 50px;
        margin-left: 60px;
      ">
    <div>
      <img src="css/images/UTM-LOGO-FULL.png" alt="UTM LOGO" style="width: 200px" />
    </div>
    <h1 style="justify-content: center; text-align: center; font-size: xx-large">
      Mini-Password Manager
    </h1>

    <p style="color: black; font-size: larger; font-weight: bolder">
      "Simple password manager system with features such as user registration (Sign Up), password recovery (Forgot
      Password), Login to the system (SignIn), and OTP service. This system is based on html, angularJS, mojolicious
      (perl), and
      mysql."
    </p>
  </div>

  <!-- Send OTP code  -->
  <div class="container" ng-show="SendOTPcode"
    style="margin-left: 800px; margin-top: 100px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);">
    <h2 style="align-items: center">Enter OTP Code</h2>
    <form>
      <label>Email:</label>
      <input type="email" ng-readonly="!studs.editable" value="{{studs.studs}}" style="width: 350px;" />
      <label>OTP Code:</label>
      <input type="text" placeholder="eg: 451426 (6 digits OTP code)" ng-model="otpcode" style="width: 350px;" />

      <div> <a href="" ng-click="sendEmail()" style="font-size: smaller;">Click Here to get OTP-Code</a></div>

      <div style="display: flex;justify-content:center; gap: 10px; margin-top: 10px;">
        <button type="button" ng-click="CheckOTPcode()">Verify</button>
        <button type="button" onclick="window.location.href = 'SignIn&SignUp.html';">Cancel</button>
      </div>
    </form>
  </div>


  <!-- Reset Password  -->
  <div class="container" ng-show="ResetPassword"
    style="margin-left: 800px; margin-top: 100px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);">
    <h2 style="align-items: center">Reset Password</h2>
    <form>
      <label>Email:</label>
      <input type="email" ng-readonly="!studs.editable" value="{{studs.studs}}" style="width: 350px;" />
      <label>New Password:</label>
      <input type="password" ng-model="NewPass" style="width: 350px;" required />

      <div style="display: flex;justify-content:center; gap: 10px; margin-top: 10px;">
        <button type="button" ng-click="NewPassword()">Confirm</button>
        <button type="button" onclick="window.location.href = 'SignIn&SignUp.html';">Cancel</button>
      </div>
    </form>
  </div>

</body>

</html>